@model UserViewModel

@{
    ViewData["Title"] = "Add user";
}

<div class="container my-2">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Add user
                </div>
                <div class="card-body">
                    <form method="post" asp-area="Administrator" asp-controller="User" asp-action="Add">
                        @Html.HiddenFor(e => e.User.Id)
                        <div class="row mb-3">
                            <label for="username" class="col-sm-3 col-form-label">Username</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="username" asp-for="User.Username">
                                <span asp-validation-for="User.Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="gender" class="col-sm-3 col-form-label">Gender</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="gender" asp-for="User.Gender">
                                <span asp-validation-for="User.Gender" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="password" class="col-sm-3 col-form-label">Password</label>
                            <div class="col-sm-9">
                                <input type="password" class="form-control" id="password" asp-for="User.Password">
                                <span asp-validation-for="User.Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="firstName" class="col-sm-3 col-form-label">First name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="firstName" asp-for="User.FirstName">
                                <span asp-validation-for="User.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lastName" class="col-sm-3 col-form-label">Last name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="lastName" asp-for="User.LastName">
                                <span asp-validation-for="User.LastName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="phone" class="col-sm-3 col-form-label">Phone</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="phone" asp-for="User.Phone">
                                <span asp-validation-for="User.Phone" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="email" class="col-sm-3 col-form-label">Email</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="email" asp-for="User.Email">
                                <span asp-validation-for="User.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="street" class="col-sm-3 col-form-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="street" asp-for="User.Street">
                                <span asp-validation-for="User.Street" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="postalCode" class="col-sm-3 col-form-label">Postal code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="postalCode" asp-for="User.PostalCode">
                                <span asp-validation-for="User.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="city" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="city" asp-for="User.City">
                                <span asp-validation-for="User.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="Administrator" asp-controller="User" asp-action="Index" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>