<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-xl-8 col-sm-8 col-md-8 col-xs-8 d-grid gap-2">

                </div>
                <div class="col-xs-2 col-xl-2 col-md-2 col-sm-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary my-2" data-bs-toggle="modal" data-bs-target="#addUserModal">
                        Add
                    </button>
                </div>
                <div class="col-xs-2 col-xl-2 col-md-2 col-sm-2 d-grid gap-2">
                    <button type="button" class="btn btn-primary my-2" data-bs-toggle="collapse" data-bs-target="#filterForm">
                        Filter
                    </button>
                </div>
            </div>
        </div>
        <form class="collapse border" id="filterForm">
            <div class="col-12">
                <div class="row">
                    <div class="col-xl-3">
                        <div class="form-group row srch-frm">
                            <label for="orderBy" class="col-sm-4 col-form-label">
                                Order by
                            </label
                            >
                            <div class="col-sm-8">
                                <select id="orderBy" class="form-select">
                                    <option value="FirstName" selected>Username</option>
                                    <option value="FirstName" selected>First name</option>
                                    <option value="LastName">Last name</option>
                                    <option value="Phone">Phone</option>
                                    <option value="Email">Email</option>
                                    <option value="Street">Street</option>
                                    <option value="PostalCode">Postal code</option>
                                    <option value="City">City</option>
                                    <option value="CreationDate">Creation date</option>
                                    <option value="ModificationDane">
                                        Modification date
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col-xl-3">
                        <div class="form-group row srch-frm">
                            <label for="sortDirection" class="col-sm-4 col-form-label">
                                Direction
                            </label
                            >
                            <div class="col-sm-8">
                                <select id="sortDirection" class="form-select">
                                    <option value="ASC" selected>Ascending</option>
                                    <option value="DESC">Descending</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3">
                        <div class="form-group row srch-frm">
                            <label for="searchPhrase" class="col-sm-4 col-form-label">
                                Phrase
                            </label
                            >
                            <div class="col-sm-8">
                                <input
                                    id="searchPhrase"
                                    placeholder="Phrase..."
                                    class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="form-group row srch-frm">
                            <label for="pageSize" class="col-sm-4 col-form-label">
                                Size
                            </label
                            >
                            <div class="col-sm-8">
                                <select id="pageSize" class="form-select">
                                    <option value="5">5</option>
                                    <option value="10" selected>10</option>
                                    <option value="25">25</option>
                                    <option value="50">50</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-1">
                        <input
                            id="searchFormButton"
                            type="submit"
                            value="Search"
                            class="btn btn-primary"/>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col" class="d-none">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col" class="d-none d-lg-table-cell">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col" class="d-none d-lg-table-cell">Email</th>
                    <th scope="col" class="d-none d-lg-table-cell">Address</th>
                    <th scope="col" class="d-none d-lg-table-cell">Comment</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row" class="d-none">1</th>
                    <td>Username</td>
                    <td class="d-none d-lg-table-cell">Jan Kowalski</td>
                    <td>+48793154795</td>
                    <td class="d-none d-lg-table-cell">jan.kowalski@crm.pl</td>
                    <td class="d-none d-lg-table-cell">Kwiatowa 11, 21-370 Farszawa</td>
                    <td class="d-none d-lg-table-cell">Sample comment</td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            Edit
                        </button>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary">
                            Delete
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="col-12">
            <nav>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#">Previous</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Next</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
@{
    await Html.RenderPartialAsync("_AddUserModal");
}