@{
    ViewData["Title"] = "Home Page";
}

<div class="container my-2">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/products-image.svg" class="card-img-top" alt="products-image">
                <div class="card-body">
                    <h5 class="card-title">Products</h5>
                    <p class="card-text">Product and stock management.</p>
                    <a asp-area="User" asp-controller="Product" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/orders-image.svg" class="card-img-top" alt="orders-image">
                <div class="card-body">
                    <h5 class="card-title">Orders</h5>
                    <p class="card-text">Order management.</p>
                    <a asp-area="User" asp-controller="Order" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/customers-image.svg" class="card-img-top" alt="customers-image">
                <div class="card-body">
                    <h5 class="card-title">Customers</h5>
                    <p class="card-text">Customer management.</p>
                    <a asp-area="User" asp-controller="Customer" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/contacts-image.svg" class="card-img-top" alt="contacts-image">
                <div class="card-body">
                    <h5 class="card-title">Contacts</h5>
                    <p class="card-text">Contact management.</p>
                    <a asp-area="User" asp-controller="Contact" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/reports-image.svg" class="card-img-top" alt="reports-image">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">Report generation.</p>
                    <a asp-area="User" asp-controller="Report" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6 col-xl-4 my-2">
            <div class="card">
                <img src="~/img/administration-image.svg" class="card-img-top" alt="administration-image">
                <div class="card-body">
                    <h5 class="card-title">Administration</h5>
                    <p class="card-text">Application administration.</p>
                    <a asp-area="Administrator" asp-controller="Management" asp-action="Index" class="btn btn-primary">View</a>
                </div>
            </div>
        </div>
    </div>
</div>