<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display" rel="stylesheet">
    <title>@ViewData["Title"] - HRBN.Thesis.CRMExpert.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
    <link rel="stylesheet" href="~/css/style.css"/>
    @await RenderSectionAsync("Styles", false)
    @await RenderSectionAsync("UpperScripts", false)
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary navbar-expand-xl">

        <div class="container-fluid">
            <a class="navbar-brand align-bottom" asp-area="User" asp-controller="Home" asp-action="Index">
                <img src="~/img/logo.svg" class="d-inline-block" alt="Home">
            </a>
            <button class="navbar-toggler order-first" type="button" data-bs-toggle="collapse" data-bs-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Menu toggler">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Home" asp-action="Index"> Home </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Product" asp-action="Index"> Products </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Contact" asp-action="Index"> Contacts </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-target="#customerDropdown" role="button" aria-expanded="false" aria-controls="customerDropdown" aria-label="Customer menu toggler" id="customerSubmenu" aria-haspopup="true"> Customers </a>
                        
                        <div class="dropdown-menu" id="customerDropdown" aria-labelledby="customerSubmenu">
                            <a class="dropdown-item" asp-area="User" asp-controller="Customer" asp-action="Index"> Customer list </a>
                            <a class="dropdown-item" asp-area="User" asp-controller="Customer" asp-action="Orders"> Orders </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" asp-area="User" asp-controller="Task" asp-action="Index"> Tasks </a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="User" asp-controller="Task" asp-action="Index"> Tasks </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Identity" asp-controller="Account" asp-action="Manage"> Your account </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="Administrator" asp-controller="Management" asp-action="Index"> Admin </a>
                    </li>
                </ul>
                <form class="d-flex ms-auto">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-light" type="submit">Search</button>
                </form>
            </div>
        </div>

    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2021 - HRBN.Thesis.CRMExpert.UI - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>