<div class="modal fade" id="addOrderModal" tabindex="-1" aria-labelledby="addOrderModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addOrderModalLabel">Add a new order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form>
                <div class="modal-body">
                    <div class="row mb-3">
                        <label for="title" class="col-sm-3 col-form-label">Title</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="title">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="content" class="col-sm-3 col-form-label">Content</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" id="content" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="price" class="col-sm-3 col-form-label">Price</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="price">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="contact" class="col-sm-3 col-form-label">Contact</label>
                        <div class="col-sm-9">
                            <select id="contact" class="form-select">
                                <option value="Electronics" selected>Jan</option>
                                <option value="Services">Grzegorz</option>
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="product" class="col-sm-3 col-form-label">Product</label>
                        <div class="col-sm-9">
                            <select id="product" class="form-select">
                                <option value="Electronics" selected>Szafa</option>
                                <option value="Services">Pralka</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>