@model CustomerViewModel

@{
    ViewData["Title"] = "Add customer";
}

<div class="container my-2">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Add customer
                </div>
                <div class="card-body">
                    <form method="post" asp-area="User" asp-controller="Customer" asp-action="Add">
                        <div class="row mb-3">
                            <label for="name" class="col-sm-3 col-form-label">Name</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="name" asp-for="Customer.Name">
                                <span asp-validation-for="Customer.Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="city" class="col-sm-3 col-form-label">City</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="city" asp-for="Customer.City">
                                <span asp-validation-for="Customer.City" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="street" class="col-sm-3 col-form-label">Street</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="street" asp-for="Customer.Street">
                                <span asp-validation-for="Customer.Street" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="postalCode" class="col-sm-3 col-form-label">Postal code</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="postalCode" asp-for="Customer.PostalCode">
                                <span asp-validation-for="Customer.PostalCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="taxNo" class="col-sm-3 col-form-label">TaxNo</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="taxNo" asp-for="Customer.TaxNo">
                                <span asp-validation-for="Customer.TaxNo" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="regon" class="col-sm-3 col-form-label">Regon</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" id="regon" asp-for="Customer.Regon">
                                <span asp-validation-for="Customer.Regon" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="User" asp-controller="Customer" asp-action="Index" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>