@{
    ViewData["Title"] = "Reports";
}

<div class="container my-2">
    <p class="h1">Reports</p>
    <div class="row justify-content-center">
        <div class="card text-center col-3 my-2 mx-1">
            <div class="card-header">
                Products
            </div>
            <div class="card-body">
                <h5 class="card-title">Most often ordered products</h5>
                <p class="card-text">Generate a csv file that contains list of most often ordered products.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
            <div class="card-footer text-muted">
                Always newest
            </div>
        </div>
        <div class="card text-center col-3 my-2 mx-1">
            <div class="card-header">
                Orders
            </div>
            <div class="card-body">
                <h5 class="card-title">Last month orders</h5>
                <p class="card-text">Generate a csv file that contains list of orders made last month.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
            <div class="card-footer text-muted">
                Always newest
            </div>
        </div>
        <div class="card text-center col-3 my-2 mx-1">
            <div class="card-header">
                My contacts
            </div>
            <div class="card-body">
                <h5 class="card-title">List of my contacts</h5>
                <p class="card-text">Generate a csv file that contains list of your contacts.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
            <div class="card-footer text-muted">
                Always newest
            </div>
        </div>
        <div class="card text-center col-3 my-2 mx-1">
            <div class="card-header">
                Orders
            </div>
            <div class="card-body">
                <h5 class="card-title">Orders from yesterday</h5>
                <p class="card-text">Generate a csv file that contains list of orders from yesterday.</p>
                <a href="#" class="btn btn-primary">Download</a>
            </div>
            <div class="card-footer text-muted">
                Always newest
            </div>
        </div>
    </div>
</div>