html {
    font-size: 92.5%;
    font-family: 'Playfair Display';
}

.container figcaption {
    text-align: center;
}

.navbar-brand img {
    width: 2rem;
    height: 2rem;
}

.card > img {
    width: 8rem;
    height: 8rem;
    margin: .9rem;
    margin-left: auto;
    margin-right: auto;
}

.card-body > a {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.srch-frm {
    margin: .1rem;
}

#searchFormButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

nav {
    margin-left: auto;
    margin-right: auto;
}

/* section {
    margin: .3rem;
} */

/* 
body {
    font-size: 1rem;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand > img {
    height: 100%;
    padding: .5rem;
    width: auto;
}

nav {
    margin-top: 2rem;
}

table {
    border: .1rem;
    margin: 1rem;
}

td {
    padding: .5rem;
    border-spacing: .1rem;
}

.table-header {
    width: 6rem;
}

.btn.btn-success.btn-lg {
    margin-top: 2rem;
}

@media all and (max-width: 1000px) {
    .user-data {
        display: none;
    }
} */