@model ProductViewModel

<div class="container my-2">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    Add product
                </div>
                <div class="card-body">
                    <form method="post" asp-area="User" asp-controller="Product" asp-action="Add">
                        <div class="modal-body">
                            <div class="row mb-3">
                                <label for="name" class="col-md-3 col-form-label">Name</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="name" asp-for="Product.Name">
                                    <span asp-validation-for="Product.Name" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="price" class="col-md-3 col-form-label">Price</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="price" asp-for="Product.Price">
                                    <span asp-validation-for="Product.Price" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="description" class="col-xl-3 col-form-label">Description</label>
                                <div class="col-xl-9">
                                    <textarea class="form-control" id="description" rows="3" asp-for="Product.Description"></textarea>
                                    <span asp-validation-for="Product.Description" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="type" class="col-md-3 col-form-label">Type</label>
                                <div class="col-md-9">
                                    <select id="type" class="form-select" asp-for="Product.Type">
                                        <option value="Electronics">Electronics</option>
                                        <option value="Services" selected>Services</option>
                                    </select>
                                    <span asp-validation-for="Product.Type" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="count" class="col-md-3 col-form-label">Count</label>
                                <div class="col-md-9">
                                    <input type="text" class="form-control" id="count" asp-for="Product.Count">
                                    <span asp-validation-for="Product.Count" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <a asp-area="User" asp-controller="Product" asp-action="Index" class="btn btn-secondary">Back</a>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
</div>