<div class="container my-2">
    <div class="row">
        <div class="col-12">
            <p class="h1 text-center">Account management</p>
        </div>
    </div>
    <div class="row border-light">
        <div class="col-md-6 col-xs-12">
            <div class="container">
                <form class="row g-3">
                    <div class="col-lg-4">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" class="form-control" id="username" value="pharbuz" readonly>
                    </div>
                    <div class="col-lg-2">
                        <label for="gender" class="form-label">Gender</label>
                        <input type="text" class="form-control" id="gender" value="M" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="firstName" class="form-label">First name</label>
                        <input type="text" class="form-control" id="firstName" value="Paweł" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="lastName" class="form-label">Last name</label>
                        <input type="text" class="form-control" id="lastName" value="Harbuz" readonly>
                    </div>
                    <div class="col-lg-4">
                        <label for="phone" class="form-label">Phone</label>
                        <input type="text" class="form-control" id="phone" value="+48 793 154 795" readonly>
                    </div>
                    <div class="col-lg-2">
                        <label for="postalCode" class="form-label">Postal code</label>
                        <input type="text" class="form-control" id="postalCode" value="22-600" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" value="w60050@student.wsiz.rzeszow.pl" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" id="street" value="Zacisze 3" readonly>
                    </div>
                    <div class="col-lg-12">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" id="city" value="Tomaszów Lubelski" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 my-2">
            <p class="h6">In order to change username, last name, first name or gender, you should contact an administrator.</p>
            <p class="h6">Changing the mentioned data without permission is forbidden.</p>
            <div class="container my-2">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="creDate" class="form-label">Registration date</label>
                        <input type="date" class="form-control" id="creDate" value="1998-05-28" readonly>
                    </div>
                    <div class="col-lg-6">
                        <label for="modDate" class="form-label">Modification date</label>
                        <input type="date" class="form-control" id="modDate" value="1998-05-28" readonly>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 my-2 text-center d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 my-2 text-center d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Change address</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>